<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Voetbal manager{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../style/style.css') }}">
</head>
<body>
<header>
    <h1>Voetbal manager</h1>
    {% if session.get('user') %}
        <p>Ingelogd als: {{ session.get('user') }}</p>
        <nav>
            <a href="{{ url_for('dashboard') }}">Dashboard</a>
            <a href="{{ url_for('players_list') }}">Spelers</a>
            <a href="{{ url_for('training_list') }}">Trainingen</a>
            <a href="{{ url_for('wedstrijden_list') }}">Wedstrijden</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </nav>
    {% endif %}
    <hr>
</header>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
            {% for category, message in messages %}
                <li>[{{ category }}] {{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<main>
    {% block content %}{% endblock %}
</main>
</body>
</html>
