<!DOCTYPE html>
<html>
<head>
    <title>Trainingen</title>
</head>
<body>

<h2>Trainingen</h2>

{% if session.role == "trainer" %}
<a href="{{ url_for('training_add') }}">Nieuwe training toevoegen</a><br><br>
{% endif %}

<table border="1">
    <tr>
        <th>Titel</th>
        <th>Datum</th>
        <th>Tijd</th>
        <th>Locatie</th>
        <th>Acties</th>
    </tr>

    {% for t in trainingen %}
    <tr>
        <td>{{ t.titel }}</td>
        <td>{{ t.datum | datetimeformat }}</td>
        <td>{{ t.tijd }}</td>
        <td>{{ t.locatie }}</td>
        <td>
            <a href="{{ url_for('training_detail', training_id=t.id) }}">Bekijken</a>
            {% if session.role == "trainer" %}
            | <a href="{{ url_for('training_delete', training_id=t.id) }}">Verwijderen</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

<br>
<a href="{{ url_for('dashboard') }}">Terug</a>

</body>
</html>
